  <div id="container">
    <div id="header">
      <img src="assets/pete.jpg">
        <div id="info">
          <h1>Peter Libreri</h1> 
          <a href="mailto:librpiet@gmail.com?Subject=Hello%20There" target="_blank">peterlibreri@gmail.com</a>
          <br>
          <a href="http://www.linkedin.com/pub/pietro-libreri/78/82a/69a/" target="_blank">
            <img id="linkedin" src="assets/linkedin.png">
          </a>
        </div>
    </div>


    <div id="about">
      <h1>About Me</h1>
      <p>
        My name is Peter Libreri and I am currently a student at Rush in the Perfusion Technology Master’s Program. 
      </p>
      <p>
        I first learned about the field of perfusion as an undergraduate at Dominican University where I completed a Bachelors of Science. From early on I was fascinated by the innovation of technology and its applications in the medical field.  I credit my interest to Mr. Greg Mork who opened my eyes to the career of Perfusion. His presentation caught my attention and it was at that point I began exploring options for Perfusion training. I then decided to pursue my studies at Rush University.  
      </p>
      <p>
        I find the field of perfusion to be quite rewarding. It allows me to work with a team towards a common goal, patient care.  Being involved in patient care and following the patient from the moment of surgery to post-operative recovery is motivating and inspires me to continue to learn.
      </p>
      <p>
        I am motivated, hardworking, and dedicated to the field of perfusion as well as patient care. My ultimate career goal is to find a job where I am able to work as a Perfusionist; where I may continue to be inspired by the patients I have the privilege of caring for during surgery. 
      </p>
    </div>

    <div id="resume">
      <h2>Rotation Experience</h2>
      <ul>
        <li>Indiana University Health, Indianapolis, Indiana</li>
        <li>Methodist Hospital, July 2013-October 2013</li>
        <li>Riley Children's Hospital, July 2013-October 2013</li>
        <li>Loyola University Medical Center, Maywood, Illinois October 2013- February 2014</li>
      </ul>
        </p>
    </div>

    <h3>Equipment Used</h3>
    <ul>
      <li>Sarns 8000 pump</li> 
      <li>Sorin S5 pump</li>
      <li>Brat 2 cell saver</li>
      <li>Angiovac</li>
      <li>Rodefeld</li>
      <li>Centrimag</li>
      <li>CDI 100</li>
    </ul>

    <h3>Procedure Experience</h3>
    <ul>
      <li>Pediatric Cases</li>
      <li>Adult Cases</li>
      <li>Circulatory Arrest</li>
      <li>Aortic Valve Replacements/Repairs</li>
      <li>Mitral Valve Replacements/Repairs</li>
      <li>Tricuspid Valve Replacements/Repairs</li>
      <li>Cornary Artery Bypass Grafts</li>
      <li>ECMO</li>
      <li>Carotid Perfusion</li>
      <li>Hemi-Fontan</li>
      <li>Fontan</li>
      <li>Norwood</li>
    </ul>
    <ul>
      <li>Ventricular Septal Defects</li>
      <li>Atrial Septal Defects</li>
      <li>Ross Procedures</li>
      <li>AV-Canal Closure</li>
      <li>Tetralogy Of Fallot</li>
      <li>Hemi-Truncus Repair</li>
      <li>Partial Anomalous Pulmonary Venous Repair</li>
      <li>Double Lung Transplant’s</li>
      <li>Heart Transplants</li>
      <li>Ventricular Assist Device Implants</li>
      <li>Aortic Dissection/Aneurysm’s</li>
      <li>Left Heart-Bypass</li>
    </ul>
    

  <div id="contact">
    <h1>Contact</h1>
  <p>Hey there, if you'd like to view an updated version of my resume, please feel free to get ahold of me.</p>
  <br>
    <form>
      <%= form_tag url_for(:action => 'send_email'), :remote => true, :id => 'contact_form' do %>
      <div id="tag1">First Name:</div>
      <%= text_field_tag :first_name, '', :name => "user[first_name]", :size => "33" %><br>
      <div id="tag1">Last Name:</div>
      <%= text_field_tag :last_name, '', :name => "user[last_name]", :size => "33" %><br>
      <div id="tag1">Email Address:</div>
      <%= email_field_tag :email_address, '', :name => "user[email_address]", :size => "33" %><br>
      <div id="tag1">How can I help you?</div>
      <%= text_area_tag :notes, '', :name => "user[notes]", :size => "29x8" %><br>
      <%= submit_tag "Submit", :id => "submit_form_button" %>
      <% end %>
    </form>
  </div>

</div>

